{% extends "pages/layout_QL.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
{%load static %} 
<div id="layoutSidenav_content">
    <main>
        <a class="btn btn-primary" href="{% url 'hoa_create' %}" style="margin:15px;">Thêm Mới</a>
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" method="post" action="index.php?act=hoa">
            <div class="input-group">
                <input class="form-control" type="text" name="keyword" id="keyword" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search" name="timkiem"></i></button>
            </div>
        </form>
        <table class="table table-light table-striped">
            <th>Mã Hoa</th>
            <th>Tên hoa</th>
            <th>Đơn Giá</th>
            <th>Hình ảnh</th>
            <th>Mô Tả</th>
            <th>Số Lượng</th>
            <th>Mã Màu</th>
            <th>Mã loại</th>
            <th></th>
            <th></th>
            </tr>
           {% for item in item_sanpham %}
            <tr>
                <td>{{item.MaSP}}</td>
                <td>{{item.TenSP}}</td>
                <td>{{item.DonGia}}</td>
                <td> <img src="{% static 'assets/images/' %}{{ item.HinhAnh }}" alt="" width="80px"></td>
                <td>{{item.MoTa}}</td>
                <td>{{item.SoLuong}}</td>
                <td>{{item.MaMau}}</td>
                <td>{{item.MaLoai}}</td>
            
            </td>
                
                <td><a href="{% url 'hoa_update' masp=item.MaSP %}" class="btn btn-primary">Sửa</a>  </td>
                <td><a href="{% url 'hoa_delete' masp=item.MaSP %}" class="btn btn-danger">Xóa</a></td>
            </tr>
            

           {% endfor %}
        </table>
        <!-- <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <?php for($i = 1; $i <= $total_pages; $i++): ?>
                <li class="page-item"><a class="page-link" href="index.php?act=hoa&page=<?php echo $i; ?>"><?php echo $i; ?></a></li>
                <?php endfor; ?>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav> -->
    </main>
</div>




</script>
{% endblock %}
