{% extends "pages/layout_QL.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
{%load static %} 
<div id="layoutSidenav_content">
<main>
    <form action="{% url 'hoa_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="mb-3">
                <label for="TenSP" class="form-label">Tên Hoa</label>
                <input type="text" class="form-control" name="TenSP" placeholder="">
            </div>
            <div class="mb-3">
                <label for="HinhAnh" class="form-label">Hình Ảnh</label><br>
                <input type="file" name="HinhAnh" id="">
            </div>
            <div class="mb-3">
                <label for="DonGia" class="form-label">Đơn Giá</label>
                <input type="number" class="form-control" name="DonGia" placeholder="">
            </div>
            <div class="mb-3">
                <label for="SoLuong" class="form-label">Số Lượng</label>
                <input type="number" class="form-control" name="SoLuong" placeholder="">
            </div>
            <div class="mb-3">
                <label for="MoTa" class="form-label">Mô Tả</label>
                <input type="text" class="form-control" name="MoTa" placeholder="">
            </div>
            <div class="mb-3">
                <label for="MaLoai" class="form-label">Mã Loại</label>
                <select name="MaLoai" id="" class="form-control">
                    {% for loai in loai_list %}
                        <option value="{{ loai.MaLoai }}">{{ loai.TenLoai }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="MaMau" class="form-label">Mã Màu</label>
                <select name="MaMau" id="" class="form-control">
                    {% for mausac in mausac_list %}
                        <option value="{{ mausac.MaMau }}">{{ mausac.TenMau }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-secondary"/>
                </div>
            </div>
        </div>
    </form>
    
    
</main>
</div>
{% endblock %}